body {
    background-color:#000000;
}
.sidebar {
    width:10%;
    float:left;
    color:#00AA00;
}
.content {
    width:75%;
    float:right;
    color:#00AA00;
}
.changelog-entry {
    border-width:5px;
    border-style:outset;
    border-color:#003300;
    width:65%;
    padding:15px;
    font-family:Courier New;
}
h2 {
    text-align:center;
    font-family:Courier New;
}

table {
    color:#00AA00;
    border-color:#003300;
    width:65%;
}

@media only screen and (max-width: 600px) {
    width:auto;
}
